@import "../movie/movie.scss";
@import "../nowShowing/nowShowing.scss";
@import "../commingSoon/commingSoon.scss";

.showtime {
	.showtime__padding {
		padding-top: 100px;
		.showtime__content {
			.MuiPaper-root {
				background-color: transparent;
				height: 60px;
				.MuiTabs-root {
					height: 100%;
					margin: auto 10px !important;
					outline: none;
					.MuiTab-wrapper {
						font-size: 25px;
						transition: font-size .5s;
					}
						// .PrivateTabIndicator-colorPrimary-55 {
						// 	background-color: $color-red-0;
					.MuiTabs-indicator{
						background-color: transparent;
					}
				}
				.MuiTab-textColorPrimary {
					outline: none;
					transition: color .5s;
					color: $color-white-2;
					&:hover {
						color: $color-red-1;
						.MuiTab-wrapper{
							font-size: 30px;
						}
					}
				}
				.MuiTab-textColorPrimary.Mui-selected {
					color: $color-red-0;
				}
			}
			.MuiPaper-elevation1 {
				box-shadow: none;
			}
		}
	}
}
