.branch__detail__list {
    width: 90%;
    .branch__item {
      display: flex;
      width: 90%;
      margin: 15px auto;
      opacity: 0.5;
      text-align: left;
      transition: all .5s;
      .branch__img {
        display: block;
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }
      .branch__detail {
        color: white;
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
          opacity: 0.7;
          margin: 0;
          font-style: italic;
        }
        a{
          font-size: 14px;
          text-decoration: none;
          transition: all .5s;
        }
        .detail__link{
          :hover{
            color: white !important;
            font-size: larger;
          }
        }
      }
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
    .branch__item--active {
      opacity: 1;
    }
  }
  .BHDStar{
    color:rgb(129, 191, 64);
  }
  .CGV{
    color: rgb(231, 26, 15);
  }
  .Galaxy{
    color:rgb(241, 108, 57);
  }
  .LotteCinima{
    color:rgb(237, 28, 36);
  }
  .MegaGS{
    color:rgb(255, 214, 47);
  }
  .CineStar{
    color:rgb(255, 255, 255);
  }
  