@import "./component/listSeat/listSeat.scss";
@import "./component/payTicket/payTicket.scss";
@import "./component/detailMovieSelected/detailMovieSelected.scss";
body{
    position: relative;
    .bookingTickets{
        max-height: 904px;
        height: 990px;
        .logo__home{
            text-align: left;
            margin-left: 10px;
            i{
                font-size: 30px;
                color: $color-black-3;
                background-color: $color-gray-1;
                padding: 10px;
                border-radius: 50%;
                transition: all .5s;
                &:hover{
                    color: $color-red-0;
                }
            }
        }
        margin: 0 !important;
        margin-top: 20px !important;
        .listSeat{
            padding: 0;
        }
        .detailMovieAndPayment{
            position: absolute;
            top: -20px;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            padding: 7px;
            background-color: $color-black-3;
            border-left: 4px dashed $color-white-0;
            color: $color-white-0;
            .detailMovieSelected{
                
                // margin-bottom: 10px;
            }
            .PaymentTicket{

            }
        }
    }

}