* {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

html {
	font-size: 15px;
	color: white;
}
body {
	background-color: $color-black-1 !important;
}

a {
	text-decoration: none;
	:hover{
		color: red !important;
	}
}

ul {
	list-style: none;
}
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: $color-black-0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $color-white-2;
  }
  